button {
    visibility: hidden;
}


body {
    background: linear-gradient(90deg, #c25353 50%, white 50%);
}

p {
    font-family: 'Cinzel', serif;
}

.top-nav {
    text-decoration: none;
    color: white;
    padding: 25px;
    font-family: 'Cinzel', serif;
}


.main-nav {
    list-style: none;
}

.title {
    text-align: center;
    font-family: 'Cinzel', serif;
}

.my-image {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.main-list {
    display: inline;
}

.aboutme-title {
    color: white;
}

.project-title {
    text-align: center; 
}

.projects-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buddflix-title {
    text-align: center;
    text-decoration: none;
    color: white;
}

.buddflix-paragraph {
    text-align: center;
    margin: 0 auto; 
    color: white;
}

.buddflix-logo {
    height: 200px; 
    display: block;
    margin: 0 auto;
}

.buddflix {
    border: solid 10px white;
    border-radius: 10px;
    margin-right: 5%;
}

.thegc {
    border: solid 10px #c25353;
    border-radius: 10px;
    margin-left: 5%;
}

.gc-title {
    text-align: center;
    text-decoration: none;
    color: indianred;
}

.gc-logo {
    height: 200px; 
    display: block;
    margin: 0 auto;
}

.gc-p {
    color: indianred;
    text-align: center;
}

.contact-info {
    display: inline;
    padding: 45%;
    margin: 1%;
}

.github-logo {
    height: 50px;
    margin-top: 50px;
    border-radius: 15px; 
}

.linkedin {
    height: 50px;
    border-radius: 15px;
}
