.main-nav {
    list-style: none;
    color: white; 
    background-color: black;
}

.title {
    text-align: center;
}

.my-image {
    display: block;
    margin: 0 auto;
}

.main-list {
    display: inline;
}

.aboutme-title {
    text-align: center; 
}

.project-title {
    text-align: center; 
}

.projects-main {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

.buddflix-title {
    text-align: center;
}

.buddflix-paragraph {
    text-align: center;
    margin: 0 auto; 
}

.buddflix-logo {
    height: 200px; 
    display: block;
    margin: 0 auto;
}

.contact-info {
    display: inline;
}

.github-logo {
    height: 50px;
    margin-top: 50px; 
}

.linkedin {
    height: 50px;
}